/* Body */

@font-face {
font-family: 'Atlas Grotesk';
src: url('../fonts/AtlasGrotesk-Regular.otf');
font-weight: 400;
font-style: normal;
font-stretch: normal;
}

@font-face {
font-family: 'Atlas Grotesk';
src: url('../fonts/AtlasGrotesk-RegularItalic.otf');
font-weight: 400;
font-style: italic;
font-stretch: normal;
}

.italic {
  font-family: 'Atlas Grotesk';
  font-style: italic;
  letter-spacing: .75px;
}

body {
  background-color: #ffffff;
  font-family: 'Atlas Grotesk';
  letter-spacing: .5px;
  font-style: normal;
  font-size: 16px;
  font-feature-settings: "liga", "kern";
  line-height: 22px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  word-spacing: -0.06rem;
}

#wrapper {
  padding-top: 30px;
}

::selection {
  background: #000000;
  color:white;
}
::-moz-selection {
  background: #000000;
  color:white;
}
p {
/*  padding-top: 20px;*/
  text-indent: 40px;
  margin:0;
}
a {
  color:#000;
}
a:link {
	text-decoration:none;
	color:#000;
}
a:hover {
	color:#000;
  text-decoration: underline;
}


#gridcontainer {
	padding-top:10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.header {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width:90%;
  	position:fixed;
  	background-color:#ffffff;
  	padding:10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    z-index: 10000;
}
.header div {
  padding-right: 40px;
  padding-left: 40px;
}

.right {
	float:right;
	text-align:right;
	right:0;
}

/* Project & Slideshow */

.cycle-slideshow {
	width:90%;
	max-width:900px;
	margin:0 auto;
}
.cycle-slideshow img {
	width:100%;
  max-width:900px;
	height:auto;
}

.caption {
	margin: 0 auto;
  width:90%;
	max-width: 900px;
	padding: 2% 0 3% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.title {
/*  padding-left: 40px;*/
  font-family: 'Atlas Grotesk';
}

.uppercase {
	text-transform:uppercase;
}

.abouttext {
  margin: 0 auto;
  width:90%;
  max-width: 900px;
  padding: 2% 0 3% 0;

}

.cycle-prev {
	height: 100%;
	width: 35%;
	top: 0;
	position: absolute;
	z-index: 9999;
	cursor:url(../images/arrowleft.png), auto;
	cursor: -webkit-image-set(
		url('../images/arrowleft.png') 1x,
  url('../images/arrowleft.png') 2x
  ), auto;
}
.cycle-next {
	height: 100%;
	margin-left:15%;
	width: 35%;
	left: 50%;
	top: 0;
	position: absolute;
	z-index: 9999;
    cursor:url(../images/arrowright.png), auto;
	cursor: -webkit-image-set(
  url('../images/arrowright.png') 1x,
  url('../images/arrowright.png') 2x
  ), auto;
}

/* About Section */

.about {
	margin: 0 auto;
  width:70%;
	max-width:900px;
	padding:30px 0;
}

/* Media Queries */

@media screen and
(max-width: 900px)
 {

  body {
    font-size: 20px;
    line-height: 25px;
  }
.cycle-slideshow {
	width:97%;
}
.caption {
	width:90%;
	padding:20px 0;
  display: grid;
  grid-template-columns: 1fr;
}
.mobile {
  font-family: 'AtlasGrotesk-Regular';
	display: none;
}
ex {
	display: inline;
	padding-left: 55px;
}
#gridcontainer {
	padding-top:30px;
}

.header {
    width:100%;
}
.header div:first-child {
  padding-left: 10vw;
}
.about {
  width:90%;
	padding:30px 0;
}
	}
